header 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 248, 243);
     
}
nav ul 
{
    display: flex;
}

.btn-primary
{
    background-color: tomato;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
}
nav ul li 
{
    margin-right: 110px;
    list-style: none;
    color:black;
}

 .nav-title
 {
    font-weight: 900;
    font-size: 2rem;
 }
.initial-info
{
    display: flex;align-items: center;justify-content: space-between;background: rgb(255, 248, 243);
}
.about
{
    align-items: center;background-color: #fff8f3;width:700px;margin:auto;padding: 50px;
}
.open-sans-normal2 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
details summary
{
   
    font-size: 1.5rem;
    color:blue;
    margin-bottom: 5px;
}
details li 
{
    color:crimson;
    font-size: 1.4rem;
}
.my-details 
{
    display: flex;justify-content: space-between;
}
.my-details h3,h6
{
    margin: 1px;padding: 1px;
    font-size: 20px;
font-weight: 700;
line-height: 30px;
}
.main
{
     /* White Color */
background: rgb(255, 255, 255);
     
}
 

.summary-1,.summary-2,.summary-3
{
    display: flex;
    gap: 20px;
     
}


 
.sum-left
{
    margin: 0px 0px 0px 230px;
}
/*footer style here*/
.footer
{
    display: flex;
    gap:20px;
    background-color: #FFF8F3;
}
.section-left
{
    width: 50%;
}
.section-right
{
    width: 50%;
}
.footer-left-title
{
    margin: 130px 10px 1px 230px;
}
.footer-right-title
{
    margin: 130px 10px 1px 230px;
}
.footer-left-desc
{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(71, 71, 71);
    margin: 22px 10px 1px 230px;
    
}
.socials
{
    margin: 10px 5px 5px 230px;
}

.form-table
{
    margin: 10px 5px 5px 40px;
}

footer input[type="text"],input[type="email"] 
{
    width: 460px;
    height: 60px;
    margin-top: 5px;
}
footer textarea
{
    width: 460px;
    height: 180px;
    margin-top: 5px;
}